{% block content_text %}{% endblock %}
{% block content_html %}{% endblock %}
{% block background_color %}afafaf{% endblock %}

{% block body_text -%}
    {%- set _text_content -%}
        {{ block('content_text') }}
    {%- endset -%}
    {%- if _text_content -%}
        {{ _text_content|raw }}
        {% block text_signature %}
            {% include 'AgileKernelBundle:mail:signature.txt.twig' %}
        {%- endblock %}
    {%- endif -%}

{%- endblock %}

{% block body_html -%}
    {%- set _html_content -%}
        {% spaceless %}
            {{ block('content_html') }}
        {% endspaceless %}
    {%- endset -%}
    {%- if _html_content -%}
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html>
        <head>
            <title>{{ agile.project_title }}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        </head>
        <body style="font-family: Arial, Helvetica, sans-serif; margin: 0;background-color: #f1f1f1;color:#000;">

        {% block inner_body_html %}
            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td width="100%" height="135" bgcolor="#{{ block('background_color') }}" valign="middle" style="padding: 0 25px">
                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td width="600" height="135" bgcolor="#{{ block('background_color') }}" valign="middle" style="padding: 0 25px">
                                    <a href="{{ url('homepage') }}">
                                        <img src="{{ agile.project_url ~ 'img/logo-mail.png' }}" alt="{{ agile
                                        .project_title }}" style="display: block;border:0;">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td width="600" style="padding: 30px 25px 25px;font-size: 16px;color: #666666;background-color:#fff;">
                        {{ _html_content }}
                    </td>
                </tr>

                <tr>
                    <td width="600" bgcolor="#f1f1f1" style="font-size: 14px;color: #000!important;padding: 15px 0 25px;">
                        {% block html_signature %}
                            {% include 'AgileKernelBundle:mail:signature.html.twig' %}
                        {%- endblock %}
                    </td>
                </tr>
            </table>
        {% endblock %}
        </body>
        </html>
    {%- endif -%}
{%- endblock %}
